body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > h5 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}


.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.row-content {
  padding: 30px 0;
  /* border-bottom: 1px ridge;  */
  min-height: 100px;
}

.jumbotron {
  margin-bottom: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #161e18, #728579, #696442);
  color: white;
}

.jumbotron h2 {
  color: #37363d;
}
.indexHeader {
  background-image: url("/img/suiteImg/newecommerce.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: cover;
  height: 100%;
  z-index: 3;
}
/* .bottomnav li {
  list-style: none;
  
  margin: 2px;
  padding: 10px;
  display: flex;
  float:left;
  
  padding: 10px;
    } */
/* .bottomnav  li a{
  text-decoration: none;
 } */

/* .site-footer{
  width: 100%;
  height: 300px;
  background-color:rgb(19, 18, 15); 
} */
.logo {
  border-radius: 13px;
  background-color: #37dd50;
}
/* .bottomnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.site-footer .col{
  margin-top: 20px;
  border: 2px solid rgb(37, 31, 204);
 
} */
.navbar-dark {
  background-color: rgb(19, 18, 15);
}
.Navbar {
  margin-top: 0;
}
.grid:after {
  clear: both;
}

.grid .item {
  float: left;
  width: 32%;
}
.grid .item:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
.grid .item:nth-child(3n) {
  margin-bottom: 0;
  margin-right: 0;
}

.grid img {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 20px;
}
footer .bottomnav li {
  list-style: none;

  margin: 2px;
  padding: 10px;
  display: flex;
  float: left;

  padding: 10px;
}
.btnFacebook { 
width: 100%;
  height:100%;  
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;  
  text-align: center;
  margin-right:7px;
  display: inline-block;
 
}
.bottomnav li a {
  text-decoration: none;
}

.topnav {
  background-color: rgb(19, 18, 15);
}
.bottomfooter {
  width: 100%;
  height: 300px;
  background-color: rgb(19, 18, 15);
}
.site-footer .col {
  margin-top: 20px;
  border: 2px solid rgb(37, 31, 204);
}

.bottomnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-media {
  padding: 35px 0;
  border-bottom: 1px solid ridge;
}

.BeforeScroll {
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  margin-top: 0;
  padding-top: 4px;
}

@media (min-width: 0) and (max-width: 600px) {
  .bottomfooter {
    display: none;
  }
}
.row-content{
  padding: 50px 0;
  min-height: 600px;


}
.farm{
  background-image: url("/img/coffeeImg/freshHotCoffee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover; 
  max-height: 100%;
  z-index: 2;
}
.advertise{
  border: 1px solid black ;
  margin: 5px;
  border-radius: 20px;
  color: rgb(205, 203, 213);
}
.advertise:hover{
  cursor: pointer;
  color: rgb(193, 48, 48);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}
.aboutimg{
  width: 900px;
}
.iteminscrese:hover{
  transform: scale(1.2);
  transition: .6s ease-in-out;
   z-index: 5;
}
.order{
  background-image: url("/img/coffeeImg/coffeeplace.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 100%;
  background-size: cover; 
  height: 100%;
  z-index: 3;
}
.itemImg{
  width:50% ;
  height: 250px;
}
.about{
  background-image: url("/img/suiteImg/CoworkingVsExecutiveSuites.jpg");
  padding-top: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  z-index: 5;
}

.login-form{
  width:100%;
  max-width:330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  ;
}


/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}